@using DivVizParqet.Components.ParqetUpload
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<Card Style="width:300px;">
    <TitleTemplate>
        <i class="fa-solid fa-table"></i> Datenquelle
    </TitleTemplate>
    <Body>
        <Space Direction="Direction">
            <SpaceItem>
                <h5>Letzter Import</h5>
                <span class="importHistory">Quelle: @(AppState.Value.LastImportDataSourceDescription)</span>
                <span class="importHistory">Depot: @(FormatDate(AppState.Value.LastSyncStocks))</span>
                <span class="importHistory">Stammdaten: @(FormatDate(AppState.Value.LastSyncMeta))</span>
            </SpaceItem>

            <SpaceItem>
                <Select DataSource="@Datasources"
                        @bind-Value="@SelectedValue"
                        Style="width:220px"
                        OnSelectedItemChanged="OnSelectedItemChangedHandlerAsync">
                </Select>
            </SpaceItem>

            <SpaceItem>
                @if (SelectedSource == Data.ImportDataSource.ParqetFile)
                {
                    <ParqetUploadComponent></ParqetUploadComponent>
                }
                else if (SelectedSource != Data.ImportDataSource.None)
                {
                    <Empty>
                        <DescriptionTemplate>
                            <span>Noch nicht verfügbar...</span>
                        </DescriptionTemplate>
                    </Empty>
                }
            </SpaceItem>
        </Space>
    </Body>
</Card>